.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-left-side {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 320px;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  right: 0;
  border-right: 1px solid #f0f0f0;
  
}

.subjects-dropdown {
  color: #61dafb;
  width: 350px;
  height: 50;
  top: 0;
  position: fixed;
  left: 350px;
  padding: 20px 30px;
  background-color: #fefefe;
}
.search-input {
  color: #61dafb;
  width: 350px;
  height: 50;
  top: 0;
  position: fixed;
  left: 750px;
  padding: 20px 30px;
  background-color: #fefefe;	
}

.titles-dropdown {
  color: #61dafb;
  width: calc(0.25 * 100% - 350px);
  height: 50;
  top: 0;
  position: relative;
  left: 350px + width;
  padding: 10px 30px;
  background-color: #fefefe;
}


.App-search-results {
  color: #61dafb;
  width: calc(100% - 350px);
  top: 200;
  position: relative;
  left: 350px;
  padding: 10px 30px;
  background-color: #fefefe;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
